:root {
  --blue: #5458f7;
  --blue-2: rgb(203, 219, 240);
  --text: #424242;
  --green: rgba(70, 215, 241, 0.233);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Nav */
nav,
.download-container {
  display: flex;
  justify-content: space-between;
}

.nav-icon-container {
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}
.nav-icon-container > span {
  flex-direction: column;
}
/* end of Nav */

/* Header */

.header-nav {
  background-image: linear-gradient(to top, white, var(--blue-2));
  padding-left: 1rem;
  padding-right: 1rem;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
header h1 {
  text-align: center;
}
header h1 > span,
.hero-header > h2 > span {
  display: block;
  text-align: center;
  position: relative;
  margin: 2rem auto;
  margin-top: 1.5rem;
  width: 200px;
}
header h1 > span::after,
header h1 > span::before,
.hero-header > h2 > span::after,
.hero-header > h2 > span::before {
  content: "";
  border: 1px solid var(--blue);
  height: 50px;
  width: 200px;
  display: inline-block;
  position: absolute;
  left: 130px;
  top: -10px;
  transform: translateX(-50%) skew(-60deg);
  transform-origin: 100% 0;
  border-radius: 50%;
  z-index: 10;
}
header h1 > span::before {
  top: -8px;
  left: 123px;
}
@media (min-width: 768px) {
  header h1 > span::after,
  header h1 > span::before.hero-header > h2 > span::after,
  .hero-header > h2 > span::before {
    top: 0;
  }
}
.notice {
  font-size: 1.2rem;
}

.auth-container {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .auth-container > a:nth-child(even) {
    width: 7rem;
    text-align: center;
  }
}

.auth-container > * {
  margin-right: 2rem;
  text-decoration: none;
}

.auth-container > a:nth-child(odd),
.auth-container > a:nth-child(even) {
  font-size: 1.2rem;
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 18px;
  font-weight: 600;
}

.auth-container > a:nth-child(even) {
  background-color: var(--blue-2);
  color: var(--blue);
}

.header-list {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  margin: auto;
}
.header-list > * {
  text-align: center;
  padding-right: 1.5rem;
  font-size: 0.8rem;
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
}

.header-list > .last,
.header-list > *.last::after {
  border: none;
}

@media (max-width: 768px) {
  .header-list > * {
    padding-right: 1rem;
    flex-direction: column;
  }
  .header-list b {
    display: block;
  }
}
/* End of Header */

/* Hero */
.hero {
  background-color: var(--green);
  margin-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.hero-header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero-header {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    gap: 1rem;
  }
}

.hero-header-p {
  background-color: white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-header-p.top {
  align-self: flex-start;
}
.hero-header-p.bottom {
  align-self: flex-end;
}

.hero-header-p > b {
  font-size: 1.5rem;
  color: rgba(255, 0, 0, 0.822);
  font-weight: 700;
  margin-top: -1rem;
}

.hero-header-p > b.green {
  color: green;
}

.hero-header-p > small {
  font-size: 0.6rem;
}
.hero-header > h2 {
  text-align: center;
  font-size: 1.5rem;
}
/* The remaining syle is bove in the header */
.hero-header > h2 > span {
  display: inline;
  font-size: 2rem;
}
.hero-header > h2 > span::after,
.hero-header > h2 > span::before {
  width: 120px;
  left: 70px;
  height: 40px;
  top: -2px;
  border-color: var(--text);
}

.hero-header > h2 > span::before {
  top: 1px;
}

@media (min-width: 769px) {
  .hero-header-p.top {
    align-self: flex-end;
  }
  .hero-header-p.bottom {
    align-self: flex-start;
  }
  .hero-header > h2 {
    align-self: center;
  }
}

.hero-header > h2 > small {
  font-size: 1rem;
  font-weight: 500;
}
/* End o Hero */

/* Slider */

.slide,
.center-slide {
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 1.1rem;
}

.slider-image {
  border-radius: 50%;
}
.slide-name {
  font-weight: 600;
}

.slide-text {
  /* font-style: italic; */
  letter-spacing: 1px;
  width: 100%;
  /* font-weight: 500; */
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.slider-container > * {
  background-color: rgba(255, 255, 255, 0.63);
  opacity: 0.5;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.center-slide {
  background-color: white;
  opacity: 1;
  position: relative;
  height: 100%;
  min-height: 30rem;
}
.prev-slider-btn,
.next-slider-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid var(--green);
  background-color: white;
  position: absolute;
  z-index: 10;
}

.prev-slider-btn:hover,
.next-slider-btn:hover {
  background-color: var(--blue-2);
}
.prev-slider-btn {
  left: -34px;
  top: 50%;
}

.next-slider-btn {
  right: -34px;
  top: 50%;
}
@media (max-width: 768px) {
  .hide-slider-xs {
    display: none;
  }
}

.rating-notice {
  width: 7rem;
  height: 7rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  /* margin-top: 2rem; */
}
.rating-notice > b {
  font-size: 2.5rem;
  color: orange;
}
.rating-notice > small {
  font-size: 0.6rem;
  text-align: center;
}
/* End of slider */

/* Why choose us */
.why-shopline {
  text-align: center;
  padding-top: 2rem;
}
.reasons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: center; */
  margin: auto;
  margin-top: 2rem;
  row-gap: 1rem;
  width: 100%;
  max-width: 1170px;
}

@media (max-width: 768px) {
  .reasons-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .reasons-container {
    grid-template-columns: 1fr;
  }
}
.reasons-container > * {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}
.reasons-container > * > div:first-child {
  background-color: var(--blue-2);
  color: var(--blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reasons-container > * > p:first-of-type {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0;
}
.reasons-container > * > p {
  font-size: 0.8rem;
}
.create-shop-btn {
  text-decoration: none;
  border: 1px solid red;
}
.money {
  position: relative;
}
.line {
  height: 60px;
  width: 4px;
  transform: rotate(-40deg);
  background-color: var(--text);
  position: absolute;
  border-radius: 5px;
}

/* End of why choose */
