@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --blue: #5458f7;
  --blue-2: rgb(203, 219, 240);
  --blue-3: rgb(2, 59, 77);
  --blue-4: rgb(12, 191, 245);
  --blue-5: #0b0c61;
  --text: #3b5044;
  --green: rgba(70, 215, 241, 0.233);
  --green-2: rgba(167, 215, 221, 0.356);
  --green-3: rgb(66, 219, 66);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Nunito", sans-serif;
  /* width: 100%;
  max-width: 1800px; */
  /* display: flex;
  justify-content: center; */
}

* {
  color: var(--text);
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}

main button.blue-btn {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

/* Nav */
nav,
.download-container {
  display: flex;
  justify-content: space-between;
}

.nav-icon-container {
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
}
.nav-icon-container > span {
  flex-direction: column;
}
/* end of Nav */

/* Header */

.header-nav {
  background-image: linear-gradient(to top, white, var(--blue-2));
  padding-left: 1rem;
  padding-right: 1rem;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
h1,
h2 {
  text-align: center;
}
header h1 > span,
.hero-header > h2 > span {
  display: block;
  text-align: center;
  position: relative;
  margin: 2rem auto;
  margin-top: 1.5rem;
  width: 200px;
}
header h1 > span::after,
header h1 > span::before,
.hero-header > h2 > span::after,
.hero-header > h2 > span::before {
  content: "";
  border: 1px solid var(--blue);
  height: 50px;
  width: 200px;
  display: inline-block;
  position: absolute;
  left: 130px;
  top: -10px;
  transform: translateX(-50%) skew(-60deg);
  transform-origin: 100% 0;
  border-radius: 50%;
  z-index: 10;
}
header h1 > span::before {
  top: -8px;
  left: 123px;
}
@media (min-width: 768px) {
  header h1 > span::after,
  header h1 > span::before.hero-header > h2 > span::after,
  .hero-header > h2 > span::before {
    top: 0;
  }
}
.notice {
  font-size: 1.2rem;
}

.auth-container {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  .auth-container > a:nth-child(even) {
    width: 7rem;
    text-align: center;
  }
}

.auth-container > * {
  margin-right: 2rem;
  text-decoration: none;
}

.auth-container > a:nth-child(odd),
.auth-container > a:nth-child(even) {
  font-size: 1.2rem;
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 18px;
  font-weight: 600;
}

.auth-container > a:nth-child(even) {
  background-color: var(--blue-2);
  color: var(--blue);
}

.header-list {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  margin: auto;
}
.header-list > * {
  text-align: center;
  padding-right: 1.5rem;
  font-size: 0.8rem;
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
}

.header-list > .last,
.header-list > *.last::after {
  border: none;
}

@media (max-width: 768px) {
  .header-list > * {
    padding-right: 1rem;
    flex-direction: column;
  }
  .header-list b {
    display: block;
  }
}
/* End of Header */

/* Hero */
.hero {
  background-color: var(--green);
  margin-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.hero-header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero-header {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    gap: 1rem;
  }
}

.hero-header-p {
  background-color: white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-header-p.top {
  align-self: flex-start;
}
.hero-header-p.bottom {
  align-self: flex-end;
}

.hero-header-p > b {
  font-size: 1.5rem;
  color: rgba(255, 0, 0, 0.822);
  font-weight: 700;
  margin-top: -1rem;
}

.hero-header-p > b.green {
  color: green;
}

.hero-header-p > small {
  font-size: 0.6rem;
}
.hero-header > h2 {
  text-align: center;
  font-size: 1.5rem;
}
/* The remaining syle is bove in the header */
.hero-header > h2 > span {
  display: inline;
  font-size: 2rem;
}
.hero-header > h2 > span::after,
.hero-header > h2 > span::before {
  width: 120px;
  left: 70px;
  height: 40px;
  top: -2px;
  border-color: var(--text);
}

.hero-header > h2 > span::before {
  top: 1px;
}

@media (min-width: 769px) {
  .hero-header-p.top {
    align-self: flex-end;
  }
  .hero-header-p.bottom {
    align-self: flex-start;
  }
  .hero-header > h2 {
    align-self: center;
  }
}

.hero-header > h2 > small {
  font-size: 1rem;
  font-weight: 500;
}
/* End o Hero */

/* Slider */

.slide,
.center-slide {
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 1.1rem;
}

.slider-image {
  border-radius: 50%;
}
.slide-name {
  font-weight: 600;
}

.slide-text {
  /* font-style: italic; */
  letter-spacing: 1px;
  width: 100%;
  /* font-weight: 500; */
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.slider-container > * {
  background-color: rgba(255, 255, 255, 0.63);
  opacity: 0.5;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.center-slide {
  background-color: white;
  opacity: 1;
  position: relative;
  height: 100%;
  min-height: 30rem;
}
.prev-slider-btn,
.next-slider-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid var(--green);
  background-color: white;
  position: absolute;
  z-index: 10;
}

.prev-slider-btn:hover,
.next-slider-btn:hover {
  background-color: var(--blue-2);
}
.prev-slider-btn {
  left: -34px;
  top: 50%;
}

.next-slider-btn {
  right: -34px;
  top: 50%;
}
@media (max-width: 768px) {
  .hide-slider-xs {
    display: none;
  }
}

.rating-notice {
  width: 7rem;
  height: 7rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  /* margin-top: 2rem; */
}
.rating-notice > b {
  font-size: 2.5rem;
  color: orange;
}
.rating-notice > small {
  font-size: 0.6rem;
  text-align: center;
}
/* End of slider */

/* Why choose us */
.why-shopline {
  text-align: center;
  padding-top: 2rem;
}
.reasons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: center; */
  margin: auto;
  margin-top: 2rem;
  row-gap: 1rem;
  width: 100%;
  max-width: 1170px;
}

@media (max-width: 768px) {
  .reasons-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .reasons-container {
    grid-template-columns: 1fr;
  }
}
.reasons-container > * {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}
.reasons-container > * > div:first-child {
  background-color: var(--blue-2);
  color: var(--blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reasons-container > * > p:first-of-type {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0;
}
.reasons-container > * > p {
  font-size: 0.8rem;
}
.create-shop-btn {
  text-decoration: none;
  border: 1px solid red;
}
.money {
  position: relative;
}
.line {
  height: 60px;
  width: 4px;
  transform: rotate(-40deg);
  background-color: var(--text);
  position: absolute;
  border-radius: 5px;
}

/* End of why choose */

/* footer */
footer {
  background-color: var(--blue-2);
  padding-bottom: 2rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 3rem;
  flex-wrap: wrap;
}

ul.ul {
  padding: 0;
  list-style: none;
}

ul.ul > li {
  padding-top: 1rem;
}

ul.ul > li > a,
address {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

ul.ul > li > form {
  display: flex;
  flex-direction: column;
}

.footer-div-1 > a {
  display: block;
  margin-top: 1rem;
}

.social-icons > a {
  margin-right: 1rem;
}

button[type="submit"] {
  margin-left: 1rem;
  border: 1px solid red;
  background-color: red;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  height: 2rem;
}

@media (max-width: 480px) {
  button[type="submit"] {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

input {
  border: 2px solid var(--text);
  border-radius: 5px;
  padding: 0.3rem;
}

label {
  font-size: 0.8rem;
  color: #42424262;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  color: var(--blue);
}
/* end of footer */

/* Faq and features */
.faq button[type="submit"],
.features button[type="submit"] {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 30px;
  font-size: 1.1rem;
}
.features button[type="submit"] {
  font-size: 1.3rem;
  padding: 0.5rem 1.3rem;
  height: fit-content;
  font-weight: 600;
}
.faq-questions,
.faq-compel {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  margin: auto;
}

.faq-questions {
  padding-top: 3rem;
  max-width: 700px;
}

.faq h1 {
  padding: 1rem;
}

.features h1 {
  color: var(--blue-5);
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.faq form,
.features form {
  border-radius: 30px;
  background-color: white;
  padding: 0.3rem;
  /* width: 80%; */
  box-shadow: 0 0 7px rgb(119, 119, 187);
  margin: 1rem;
}

.features form {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.faq input,
.faq input:focus,
.features input,
.features input:focus {
  border: 0;
  outline: none;
}

.faq input::placeholder {
  color: rgba(0, 0, 0, 0.199);
  font-size: 0.9rem;
}

summary {
  padding: 1rem;
  color: var(--blue);
  background-color: var(--green-2);
  margin: 1rem auto;
}

details p {
  padding: 0.5rem;
}

.faq-details-container {
  padding: 2rem 1rem;
  width: 100%;
  max-width: 650px;
}

@media (max-width: 480px) {
  .faq-questions,
  .faq-compel {
    padding: 0.5rem;
  }
  .faq h1 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .faq form,
  .features form {
    margin-bottom: 2rem;
    border-radius: 7px;
    width: 100%;
  }
  .faq button,
  .features button {
    margin: auto;
    display: block;
  }
  .faq input,
  .features input {
    border-radius: 30px;
    font-size: 1.3rem;
  }
  .faq button[type="submit"],
  .features button[type="submit"] {
    border-radius: 4px;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .features button[type="submit"] {
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
  }
  .features h1 {
    font-size: 2.5rem;
  }
}

.have-more-question {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.507);
}

.faq-compel {
  text-align: center;
  background-color: antiquewhite;
  width: 100%;
}
.faq-compel h2 {
  font-weight: 600;
}

@media (max-width: 480px) {
  .hide-xs {
    display: none;
  }
  .features h1 {
    font-size: 2rem;
  }
}

.remove-padding {
  padding: 0;
}

/* End of faq */

.how {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  gap: 1rem;
}

.how h1 {
  font-weight: 600;
  position: relative;
}
.how > h1 > span {
  margin-left: 1rem;
}
.how > h1 > span::before {
  content: "";
  border: 1px solid var(--blue);
  height: 50px;
  width: 150px;
  display: inline-block;
  position: absolute;
  right: 70px;
  top: -10px;
  transform: skew(-60deg);
  border-radius: 50%;
  z-index: 10;
}

@media (min-width: 769px) {
  .how > h1 > span::before {
    top: -4px;
    right: 50px;
  }
}

.how-p {
  font-size: 0.8rem;
  width: 100%;
  max-width: 420px;
  display: block;
  margin: auto;
  color: rgba(0, 0, 0, 0.568) !important;
}

.how-num {
  font-size: 1.8rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.one {
  color: var(--blue);
  background-color: var(--green-2);
}

.two {
  color: orange;
  background-color: antiquewhite;
}

.three {
  color: var(--green-3);
  background-color: var(--green-2);
}

.one + .how-what {
  color: var(--blue);
  font-weight: 600;
}

.two + .how-what {
  color: orange;
  font-weight: 600;
}

.three + .how-what {
  color: var(--green-3);
  font-weight: 600;
}

/* compare */
.compare h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.compare h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue);
}

.compare-span {
  color: var(--blue);
  font-weight: 500;
}

.compare select {
  padding: 0.8rem;
  background-color: white;
  margin-left: 1.5rem;
  border-radius: 40px;
  color: gray;
}

.select-container {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex span {
  font-weight: 400;
}

.block {
  display: block;
}

table {
  margin: auto;
}

@media (max-width: 480px) {
  table {
    width: 100%;
    max-width: 350px;
  }
  tr td {
    padding: 0.5rem;
    padding-right: 0rem;
    font-size: 0.8rem;
    /* height: 4rem; */
  }
  .competitor {
    font-size: 0.8rem;
    text-align: center;
  }
}

tbody tr:nth-child(odd) {
  background-color: var(--blue-2);
}

@media (min-width: 481px) {
  tr td {
    text-align: center;
    padding: 0.5rem 0.8rem;
    padding-right: 5rem;
    font-size: 1.2rem;
    height: 4rem;
  }
}

tr td,
tr th {
  text-align: center;
}

.faq-compel.blue {
  background-color: var(--blue-3);
}
.faq-compel.blue h2 {
  color: var(--blue-4);
  margin-bottom: 2rem;
}

.faq-compel.blue p {
  color: rgba(255, 255, 255, 0.74);
  margin-bottom: 2rem;
}

.faq-compel.blue a {
  background-color: var(--blue-4);
  color: var(--text);
  font-weight: 400;
}
/* ENd of compare */

/* Features... Extended from faq */
.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.features-container section {
  /* border: 1px solid var(--blue-2); */
  background-color: white;
  width: 100%;
  max-width: 400px;
  padding: 2rem 1.5rem;
  border-radius: 30px;
  margin: 2rem 0;
  box-shadow: 0 0 10px rgb(187, 186, 186);
  z-index: 10;
}
.features-container section h2 {
  text-align: left;
  color: var(--blue-5);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.features-container section p {
  font-size: 1.2rem;
  font-weight: 500;
}

.features-container .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .features-container .center {
    flex-direction: row;
  }
  .features-container > section:nth-of-type(1),
  .features-container > section:nth-of-type(2),
  .features-container > .center > section:nth-of-type(1),
  .features-container > .center > section:nth-of-type(2) {
    position: relative;
  }
  .features-container > section:nth-of-type(1)::after,
  .features-container > section:nth-of-type(2)::after {
    content: "";
    width: 7px;
    height: 40px;
    background-color: var(--blue-5);
    position: absolute;
    right: 50%;
    bottom: -40px;
    transform: translateX(50%);
  }
  .features-container > section:nth-of-type(2)::after {
    top: -65px;
    height: 65px;
  }

  .features-container > .center > section:nth-of-type(1):after,
  .features-container > .center > section:nth-of-type(2):after {
    content: "";
    height: 7px;
    width: 70px;
    background-color: var(--blue-5);
    position: absolute;
    top: 50%;
    z-index: -30;
  }
  .features-container > .center > section:nth-of-type(1):after {
    right: -70px;
  }
  .features-container > .center > section:nth-of-type(2):after {
    left: -70px;
  }
}
/*End of features */

/* Auth */
.form-container {
  width: 100%;
  max-width: 400px;

  margin: auto;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.575);
}

.form-container form > * {
  margin: 0.7rem;
}

.form-container form > button[type="submit"] {
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}
/* end of auth */
